*{
    box-sizing: border-box;
}

body{
    --background-color:white;
    --text-color:black;
    --element-color:white;
    margin: 0;
    font-family: Nunito,sans-serif;
    
}
main, header{
    background-color: var(--background-color);
    color: var(--text-color);
}
main.dark,header.dark{
    --background-color:hsl(207, 26%, 17%);
    --text-color:white;
    --element-color:hsl(209, 23%, 22%);
}
.title{
    font-weight: 800;
}

.header-container{
     padding-inline: 24px;
     box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
     background-color: var( --element-color);
      position:sticky;
       top:0;
      z-index: 1;
     
}
.header-content{
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-width: 1200px; 
     margin-inline: auto;
   
   
}
main{
    padding: 24px;
    min-height: cal(100vh-73vh);
}

.search-filter-container{
    margin-top: 16px;
    margin-bottom: 48px;
    max-width:1200px;
    margin-inline:auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    color: #999;
}
.search-container{
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    border-radius: 4px;
    padding-left: 24px;
    color: #999;
    overflow: hidden;
     background-color: var( --element-color);
     color:var(--text-color);

}
.search-container input{
    border: none;
    outline: none; 
    padding:16px;
    background-color: inherit;
    color:inherit

}
.filter-by-region{
    width:200px;
    padding:16px;
    border:none;
    outline:none;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var( --element-color);
    color: var(--text-color);

}


.country-container{
    max-width: 1200px;
    margin-inline:auto;
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    /* flex-wrap: wrap; */
    gap:32px;
    /* justify-content: space-between; */
       
}

.country-card{
    display:inline-block;
    width: 250px; 
    border-radius:8px;
    overflow:hidden;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;
    transition: transform 0.2s ease-in-out; 
    background-color: var( --element-color);
}
.country-card img{
    width: 100%;
}

.country-text{
    padding-inline: 16px; 
}

.country-text p{
    margin-block: 8px;
}
.capital{
    font-size: 24px;
    margin-block: 16px;
}

a{
    text-decoration-line: none;
    color: inherit;
}

.country-card:hover{
    transform: scale(1.05);
}

.theme-changer{
    cursor: pointer;
}

@media(max-width: 760px)
{
    .country-container{
        justify-content: center;
    }
    .title{
        font-size: 16px;
    }
    .header-content p{
        font-size: 12px;
    }
    .search-filter-container{
        flex-direction: column;
    }
}