/* .shimmer-container {
    max-width: 1200px;
    margin-inline:auto;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap:64px;
    justify-content: space-between;
} */
.shimmer-card{
    height: 350px;
    width:250px;
    background-color: #ddd;
    padding: 20px;

}
